<div>
    <div id='divActivities'></div>
    <div id='divNewActivityStep1'>
        <p>
            Nom <input id='txtNom' type='text' value='nom activit&eacute;'/>
        </p>
        <p>
            Lieu <input id='txtLieu' type='text' value='lieu'/>
        </p>
        <p>
            Date <input id='txtDate' type='date'/>
        </p>
        <p>
            Type <select id='selActivityType'></select>
        </p>
        <p>
            Distance (kms) <input id='txtDistance' type='number' value='1' min='1'/>
        </p>
        <p>
            Dur&eacute;e (minutes) <input id='txtDuree' type='number' value='1' min='1'/>
        </p>
        <p>
            <table>
                <tr>
                    <td>
                        <button id='btnCancelActivity'>&#10060; Annuler</button>
                    </td>
                    <td>
                        <button id='btnNextStepActivity'>&#9197; Suivant</button>
                    </td>
                </tr>
            </table>
        </p>
    </div>
    <div id='divNewActivityStep2'>
        <p>
            <table>
                <tr>
                    <td>
                        FC moy. (bpm)
                        <input id='txtFcMoy' type='number' value='1' min='1'/>
                    </td>
                    <td>
                        FC max. (bpm)
                        <input id='txtFcMax' type='number' value='1' min='1'/>
                    </td>
                </tr>
            </table>
        </p>
        <p>
            <table>
                <tr>
                    <td>
                        Allure moy. (/km)
                        <input id='txtAllureMoy' type='number' value='1' min='1'/>
                    </td>
                    <td>
                        Allure max. (/km)
                        <input id='txtAllureMax' type='number' value='1' min='1'/>
                    </td>
                </tr>
            </table>
        </p>
        <p>
            <table>
                <tr>
                    <td>
                        Vitesse moy. (km/h)
                        <input id='txtVitesseMoy' type='number' value='1' min='1'/>
                    </td>
                    <td>
                        Vitesse max. (km/h)
                        <input id='txtVitesseMax' type='number' value='1' min='1'/>
                    </td>
                </tr>
            </table>
        </p>
        <p>
            <table>
                <tr>
                    <td>
                        Cadence moy. (ppm)
                        <input id='txtCadenceMoy' type='number' value='1' min='1'/>
                    </td>
                    <td>
                        Cadence max. (ppm)
                        <input id='txtCadenceMax' type='number' value='1' min='1'/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Foulées moy. (m)
                        <input id='txtFouleeMoy' type='number' value='1' min='1'/>
                    </td>
                </tr>
            </table>
        </p>
        <p>
            <table>
                <tr>
                    <td>
                        <button id='btnCancelActivity2'>&#10060; Annuler</button>
                    </td>
                    <td>
                        <button id='btnCreateActivity'>&#9989; Valider</button>
                    </td>
                </tr>
            </table>
        </p>
    </div>
</div>

<script type="module">
    import rsHome from "./component/home/home.js";
    rsHome.initialize();
</script>