<div id="divMenu" class="menu">
    <div id="menuHeader">
        <span id="menuTitle">&#127919; R-Stats</span>
        <button id="btnHamburger">☰</button>
    </div>
    <div id="menuItemsList" class="menu-hidden">
        <div id="tdMenuHome" class="menuItem">&#127919; Accueil</div>
        <div id="tdMenuStats" class="menuItem">&#128200; Statistiques</div>
		<div id="tdMenuConfig" class="menuItem">&#128221; Configuration</div>
    </div>
</div>

<script type="module">
    import rsMenu from "./component/menu/menu.js";
    rsMenu.initialize();
</script>