<div id='divConfiguration' class='pageContainer'>
    <div>
            <p>
                Age : <input id='txtAge' type='number' value=30></input>
                Sex : <select id='selSex'>
                            <option value='M' selected>M</option>
                            <option value='F'>F</option>
                        </select>
            </p>
            <p>
                HR Max : <input id='txtFCMax' type='number' value=200></input>
            </p>
            <button id='btnValidateConfig'>OK</button>
        </tr>
    </div>
    <table id='tblHrZones' class='dataTable'>
        <tr class='header'>
            <td>Zone</td>
            <td>% Heart Rate</td>
            <td>Description</td>
            <td>Difficulty</td>
            <td>HR Min</td>
            <td>HR Max</td>
        </tr>
        <tr class='trZone1'>
            <td>1</td>
            <td>50-60%</td>
            <td>Recovery</td>
            <td>Easy</td>
            <td><p id='minZ1'></p></td>
            <td><p id='maxZ1'></p></td>
        </tr>
        <tr class='trZone2'>
            <td>2</td>
            <td>60-70%</td>
            <td>Basic Endurance</td>
            <td>Easy</td>
            <td><p id='minZ2'></p></td>
            <td><p id='maxZ2'></p></td>
        </tr>
        <tr class='trZone3'>
            <td>3</td>
            <td>70-80%</td>
            <td>Aerobic Endurance</td>
            <td>Moderate</td>
            <td><p id='minZ3'></p></td>
            <td><p id='maxZ3'></p></td>
        </tr>
        <tr class='trZone4'>
            <td>4</td>
            <td>80-90%</td>
            <td>Anaerobic Endurance</td>
            <td>Hard</td>
            <td><p id='minZ4'></p></td>
            <td><p id='maxZ4'></p></td>
        </tr>
        <tr class='trZone5'>
            <td>5</td>
            <td>90-100%</td>
            <td>Peak speed</td>
            <td>Maximal</td>
            <td><p id='minZ5'></p></td>
            <td><p id='maxZ5'></p></td>
        </tr>
    </table>
</div>