<div id='divStatistics'>
    <div id='divFilter'>
        <table>
            <tr>
                <td>
                    Min Distance (m)
                </td>
                <td>
                    <input type='number' id='txtMinDistance' value=0></input>
                </td>
            </tr>
            <tr>
                <td>
                    Max Distance (m)
                </td>
                <td>
                    <input type='number' id='txtMaxDistance' value=10000></input>
                </td>
            </tr>
            <tr>
                <td>
                    Nb. Activities 
                </td>
                <td>
                    <input type='number' id='txtMaxActivities' value=5></input>
                </td>
            <td><button id='btnFilter'>OK</button></td>
            </tr>
        </table>
    </div>
    <canvas id='divStatsContainer'></canvas>
</div>